.sidebar {
  @apply fixed 
  border-t select-none pointer-events-auto
  flex justify-around items-end gap-2
  xl:w-full xl:max-w-xs
  py-2 h-14 px-1 w-full
  bg-background
  text-foreground
  overflow-y-auto
  border-0
  shrink-0
  border-border
  mobile:sticky bottom-0
  mobile:top-0
  mobile:min-h-screen
  mobile:flex-col
  mobile:border-r
  mobile:w-16
  mobile:bg-background
  mobile:max-h-screen;
  z-index: 3;
}
