.input {
  @apply flex flex-col relative pb-2;
  > label {
    @apply absolute text-gray-500 transition-all top-1/2
     -translate-y-1/2 select-none pointer-events-none text-sm;
  }
  > input {
    @apply border-b border-black px-2 py-1 pt-2 outline-none autofill:bg-red-300;
    &:-webkit-autofill,
    -webkit-autofill:focus {
      transition: background-color 0s 600000s, color 0s 600000s;
    }
    &:autofill:focus,
    &:-webkit-autofill:focus ~ input:autofill {
      border-color: palevioletred;
    }
    &:autofill,
    &:-webkit-autofill + label {
      @apply -top-2/3;
    }
    &:not(:placeholder-shown) + label,
    &:focus + label {
      @apply text-xs -top-1/3 translate-y-1/2;
    }
  }
  > p {
    @apply text-xs text-red-500 absolute -bottom-2;
  }
}
